<!-- Top Of Page -->
<div class="header">
	<!-- Logo -->
	<div class="container_logo">
		<div id="main_logo">
			<a href="/"><img src="img/main_logo.png" /></a>
		</div>
	</div>

	<div class="br_header"></div>

	<!-- Tagline & Motto -->
	<div class="tagline">
		<div id="tagline">Shrink Your Link!</div>
		<div id="motto">Shorter, more efficient links.</div>
	</div>

	<!-- Input Form -->
	<form action="/urls" method ="post">
		<input type ="text" name="long_url" placeholder="Shrink Your Link!">
		<input type ="submit" value="Shrink It!">
	</form>

	<!-- Results -->
	<% unless @line1 == nil %>
		<div class="results">
			<p> <%= @line1 %> </p><br>
			<a href = <%= @url["short_link"] unless @url == nil %>> <%= @line2 %> </a>
		</div>
	<% end %>
</div>

<div class="br_header"></div>

<container class="first">
	<strong><p>Unleash The Power Of The Link</p></strong>

	<p>The link connects your marketing efforts to how and where your customers experience your brand. Are you getting the most out of it?<p>
</container>

<div class="br_header"></div>

<div class="floats" style='overflow:hidden'>
	<div class="float_1">
		<div id="img_container" style="background-image:url(/img/link.png);"></div>
		<p>Shorten</p>
		<p>Links are long. Shorten and brand the links you share, and keep track of them as they travel across the internet.</p>
	</div>

	<div class="float_2">
		<div id="img_container" style="background-image:url(/img/share.png);"></div>
		<p>Share</p>
		<p>Optimize your links across every device and marketing channel, using Bitly or one of our partner publishing platforms.</p>
	</div>

	<div class="float_3">
		<div id="img_container" style="background-image:url(/img/measure.png);"></div>
		<p>Measure</p>
		<p>Track individual link analytics, gather audience intelligence and measure campaign performance in one location.</p>
	</div>
</div>

<div id="blue_background">
	<p>Number Of Links Shortened</p>
	<% @all_links = Url.all.count %>
	
	<div id="counters">
		<div id="counter" style="background-image:url(/img/count_card.png);"><%= @all_links/1000000 %></div>
		<p id="comma">,</p>
		<div id="counter" style="background-image:url(/img/count_card.png);"><%= @all_links/100000%10 %></div>
		<div id="counter" style="background-image:url(/img/count_card.png);"><%= @all_links/10000%10 %></div>
		<div id="counter" style="background-image:url(/img/count_card.png);"><%= @all_links/1000%10 %></div>
		<p id="comma">,</p>
		<div id="counter" style="background-image:url(/img/count_card.png);"><%= @all_links/100%10 %></div>
		<div id="counter" style="background-image:url(/img/count_card.png);"><%= @all_links/10%10 %></div>
		<div id="counter" style="background-image:url(/img/count_card.png);"><%= @all_links%10 %></div>
	</div>
</div>

<div class="br_header"></div>

<div id="table_container">
	<p id="table_heading">-Most Visited Links-</p>

	<table>
		<thead> 
			<tr> 
				<th colspan="3">
					<div id="table_header">Link Archive</div>
				</th>
			</tr>
			<tr>
				<th>Original Link</th>
				<th>Shrinked Link</th>
				<th>Clicks</th>
			</tr> 
		</thead>
			<% @base_url = request.base_url %>
			<% Url.all.sort_by {|k, v| k[:link]}.reverse.sort_by {|k, v| k[:clickcount]}.reverse.first(20).each do |url| %>
		    	<tr class="data">
					<td><%=url.link%></td>
					<td><a href = <%= url.short_link %>> <%= @base_url + "/" + url.short_link %> </a></td>
					<td><%=url.clickcount%></td>
		    	</tr>
		    <% end %>
	</table>
</div>

<div class="br_header"></div>

<div id="Disclaimer">
	<p>Disclaimer!<br><span id="disclaimer_content">This webapp & all related content are for demonstration purposes only.<br>This webapp is a clone of the popular webapp Bitly.<br>This app is not used for commercialization.<br>This webapp was developed by Joey Chan.</span></p>
</div>

<div id="footer_logo">
	<div id="main_logo">
		<a href="/"><img src="img/main_logo.png" /></a>
	</div>
</div>